<footer class="footer mt-auto">
    <div class="row m-0">
        <div class="col-12 col-lg-12 p-0 mt-3">
            <p class="subtitle mb-0">
                    selecione con cuado su compra
            </p>
            <hr class="mb-2 mt-3">
            <!--<label class="mb-3">Terminos y condiciones de uso</label>-->
            <a href="https://web.certicamara.com/politicas" target="_blank"><label class="mb-3 ms-6 link">´Politica de compras</label></a>
        </div>        
    </div>
</footer>
  
